:root{
    --c-background-primary: #d8dee9; /*body-light*/
    --c-board-primary:#ECEFF4; /*board-light*/
    --c-text-primary: #232831; /*text-light*/
    --c-border-solid: #6976f3; /*linked-text-light*/
    --c-content-background: #ffffff; /*content-background-light*/
    --c-dev-saizeriya-red: #e51f24; /*saizeriya-red*/
  }
  @media (prefers-color-scheme: dark) {
    :root{
      --c-background-primary: #181a20; /*body-dark*/
      --c-board-primary: #101218; /*top-menu-cover*/
      --c-text-primary: #ECEFF4; /*text-dark*/
      --c-border-solid: #6976f3; /*linked-text-dark*/
      --c-content-background: #22252d; /*content-background-dark*/
      --c-dev-saizeriya-red: #e51f24; /*saizeriya-red*/
    }
  }
  body{
    background-color: var(--c-background-primary);
    font-family:sans-serif;
    width: 100%;
    margin: 0px;
    }

.board{
    margin: 0 auto;
    position: relative;
    top: 100px;
    width: 400px;
    height: 470px;
    background-color: var(--c-board-primary);
    color: var(--c-text-primary);
    text-align: center;
}

.title{
    padding-top: 30px
}



.Photo{
    position: relative;
    left: 10px;
    top: 30px;
    height: 150px;
    width: 150px;
}

.icon{
    width: 100%;
    height: auto;
}

.profile{
    position: relative;
    left: 45%;
    bottom: 170px;
    width: 210px;
    height: 150px;
}

.subTitle{
    position: relative;
    text-align: left;
    left: 30px;
    font-size: 22px;
    letter-spacing: 0.03em;
}

.tableAboutUs{
    text-align: left;
    position: relative;
    bottom: 15px;
    letter-spacing: -0.01em;
}

.fwBold{
    font-weight: bold;
    width: 90px;
    height: 32px;
    letter-spacing: 0.03em;
}

.name{
    font-size: 13px;
}




.comments{
    position: absolute;
    left: 20px;
    bottom: 60px;
    width: 380px;
    height: 150px;
    text-align: left;
}

.gf{
    text-decoration: none;
    color: #00a142
}

/*ここからスマホ用*/

@media screen and (max-width:480px) {
    body{
        background-color: var(--c-background-primary);
        font-family: 'DotGothic16', sans-serif;
        width: 100%;
        margin: 0px;
    }
    
    .board{
        margin: 0px;
        position: relative;
        top: 30px;
        left: 10px;
        width: 95%;
        height: 470px;
        background-color: var(--c-board-primary);
        color: var(--c-text-primary);
        text-align: center;
    }
    
.title{
    letter-spacing: 0.07em;
}



.Photo{
    position: relative;
    left: 10px;
    height: 150px;
    width: 150px;
}

.icon{
    width: 90%;
    height: auto;
}

.profile{
    position: relative;
    left: 45%;
    bottom: 160px;
    width: 190px;
    height: 150px;
}

.subTitle{
    position: relative;
    text-align: left;
    left: 40px;
    font-size: 15px;
    letter-spacing: 0.03em;
    width: 110px;
}

.tableAboutUs{
    text-align: left;
    position: relative;
    left: 15px;
    bottom: 15px;
    letter-spacing: -0.01em;
    font-size: 12px;
}

.fwBold{
    width: 75px;
    height: 32px;
    letter-spacing: 0.03em;
}

.name{
    font-size: 12px;
}

.comments{
    position: absolute;
    left: 10px;
    bottom: 80px;
    width: 90%;
    height: 150px;
    text-align: left;
}

.gf{
    text-decoration: none;
    color: #00a142
}


}
